[manifest]
version = "1.0.0"
dump_lua = true
priority = 2147483647

[[patches]]
[patches.copy]
target = "main.lua"
position = "prepend"
sources = ["prelaunch.lua"]

[[patches]]
[patches.pattern]
target = "main.lua"
pattern = "dofile('preload/states.lua')"
position = "at"
payload = "-- dofile('preload/states.lua') -- do it later to maybe prevent mod conflicts crashing the game"
match_indent = true

[[patches]]
[patches.pattern]
target = "main.lua"
pattern = "cs = bs.load(project.initState)"
position = "at"
payload = '''
if not launch then
	cs = bs.load("Launcher")
else
	if bs.states.Menu == nil then dofile('preload/states.lua') end
	cs = bs.load(project.initState) -- i'm scared this conflicts with the bbp mod loading
end
'''
match_indent = true